body {
    font-family: sans-serif;
    background-color: lightslategrey;
    color:rgb(202, 47, 0);
}
header { 
    background-color:#18FFF8;
margin:10px;padding:10px;
}
header a {
    text-decoration:none;
}
nav a {
   text-decoration:none; 
}
h1 {
    clor:#8D18FF;
}
footer{
    border-style: groove;border-color:lightgreen;}
footer{
    border:20px solid lightskyblue;background-color:lightgreen ;
}
nav a {
    font-size:20px;
    text-decoration:none;
    color:white;
    border-radius:10px;
    background-color: navy;
}
.popular {
    background-color:white;
    color:royalblue;
}
